.selection-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 15px;
  font-size: 20px;
  min-width: 600px;

  .main-selector {
    input {
      display: block;
      margin-left: 15px;
      transform: scale(1.3);
    }
  }

  .selection-label {}

  .selection-download {
    .download-label {
      &.disabled {
        color: lightgray;
      }

      &:not(.disabled) {
        cursor: pointer;
        &:hover {
          color: darkslateblue;
        }
      }
    }
  }
}