.col-checkbox {
  input {
    display: block;
    margin: auto;
  }
}

.col-status {
  .status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .status-label {
      width: 90%;
    }

    .status-icon {
      width: 10%;

      .available-icon {
        margin: auto;
        width: 10px;
        height: 10px;
        border: 1px solid green;
        border-radius: 50%;
        background: green;
      }
    }
  }
}